seed: 239

training:
  train_batch_size: 96
  val_batch_size: 96
  num_workers: 12
  
  accelerator: "gpu"
  devices: [0]
  strategy: "auto"

  max_epochs: 2
  lr: 1e-4

logging:
  log_every_n_steps: 100
  val_check_interval: 2000
  checkpoints_dir: "checkpoints"
  log_dir: "logs"
  

clearml:
  project_name: "tokenizers"
  task_name: "vit_tokenizer"


